body {
    margin: 0;
    padding: 0;
    color: #484848;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    background-color: white;
    padding-left: 100px;
    padding-right:  100px;
}
